[Desktop Entry]
Version=1.0
Type=Application
Name=Slic3r
Icon=slic3r
Exec=bash -c 'cd /opt/Slic3r && /opt/Slic3r/Slic3r --gui %F'
Keywords=perl;slice;3D;printer;convert;gcode;stl;obj;amf;
StartupNotify=false
StartupWMClass=slic3r
MimeType=application/sla;model/x-wavefront-obj;model/x-geomview-off;application/x-amf;
Categories=Development;Engineering;
